html, body {
    margin: 0;
    padding: 0;
    height:auto;
    font-family: "微软雅黑";
    font-size: 9pt;
}

.wrapper{
    height: 500px;
}

.header {
    background: rgb(50,128,252);
    width: 100%;
    height: 62px;
}

.logo_text {
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 62px;
    padding-left: 20px;
    float: left;
}



.header .btn-container {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header .btn-container img {
    margin-right: 20px;
}

.left {
    float: left;
    width: 20%;
    height: 100%;
    margin-top: 5px;
    background-color: #ECECEC;
    font-size: 14px;
    font-weight: bold;

}

.right {
    width: 80%;
    height:100%;
    margin-top: 5px;
    float: left;

}

.panel {
    border: 0;
}
.container{
    margin: 0 20px;
}
.uploaderWrapper{
    margin-left: 10px;
}

.select-margin select {
    margin-right: 20px;
}